<footer class="site-footer">

  <div class="container">
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-2" style="padding-left: 0; padding-right: 0;">
            <img src="/image/highlight_whisp1.png" width="100%" />
        </div>
        <div class="col-md-8">
            <ul style="margin-left: 0;">
                <li><a href="https://github.com/mozafari/verdict">GITHUB</a></li>
                <li><a href="https://github.com/mozafari/verdict/blob/master/LICENSE">LICENSE</a></li>
                <li><a href="/documentation/research">RESEARCH</a></li>
            </ul>
        </div>
  </div>

</footer>
