@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Comfortaa');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');

/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    background-color: $nav-bar-background-color;
}

.site-title-bar {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0;
    // float: left;

    .verdict-logo {
        width: 100%;
        max-width: 190px;
        margin-left: 10px;
    }

    .verdict-description {
        // font-family: 'Comfortaa', cursive;
        font-family: 'Lato', sans-serif;
        font-size: 22pt;
        color: #2c2d3f;
        padding-top: 30px;
        // margin-bottom: auto;

        @include media-query($on-regular) {
            font-size: 20pt;
            padding-top: 33px;
        }

        @include media-query($on-laptop) {
            font-size: 16pt;
            padding-top: 25px;
        }
    }

    @include media-query($on-palm) {
        display: none;
    }
}

// .dropdown:hover > .dropdown-menu {
//     display: block;
// }

.navbar-purple {
    background-color: $nav-bar-background-color;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5pt;
    padding-top: 10px;
    padding-bottom: 20px;

    @include media-query($on-palm) {
        padding-left: 0;
        padding-right: 0;
        border-radius: 4pt;
    }

    .navbar-toggler {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .navbar-brand {
        margin-top: 0px;
        padding-top: 10px;
        padding-left: 0px;
        padding-bottom: 5px;
        display: inline;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 20pt;

        @include media-query($on-palm) {
            display: inline;
        }
    }

    .navbar-nav {
        margin-left: 100px;
        margin-top: 0px;

        @include media-query($on-palm) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .nav-item {
        padding-top: 5px;
        padding-bottom: 5px;

        // collpased menu does not need any paddings
        @include media-query($on-palm) {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .nav-link {
            padding-left: 20px;
            padding-right: 20px;

            // when the screen width is relatively small
            @include media-query($on-laptop) {
                padding-left: 20px;
                padding-right: 10px;
            }
        }

        a, a:visited {
            color: $nav-text-color;
            //font-family: 'Raleway', sans-serif;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 12px;
            //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }


        .dropdown-menu {
            border-radius: 2pt;
            box-shadow: 2px 2px 5px #AAA;
            margin-top: 0;

            @include media-query($on-palm) {
                border-radius: 0pt;
                border-width: 0;
                border-left-width: 1px;
                border-right-width: 1px;
                box-shadow: 0 0 0;
            }

            .dropdown-item {
                color: $text-color;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: $base-font-size;
            }
        }
    }

    .nav-item:hover {
        background-color: #161721;
    }
}

.home-large-text {
    h1 {
        font-weight: 400;
        font-size: 34px;
    }
    p {
        font-size: 17px;
        font-weight: 300;
    }
}

.home-intro {
    color: white;
    background-color: $nav-bar-background-color;
    padding-bottom: 30px;

    h1 {color: white}
    p {color: white}
}

.home-demo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-platform {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-sql {
    padding-top: 50px;
    padding-bottom: 50px;   
}

.home-easy {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-main {
  padding-top: $spacing-unit;
  padding-right: 30px;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: $nav-bar-background-color;

  @include media-query($on-laptop) {
      border-width: 0;
  }
}

.home-tab {
  padding-top: $spacing-unit/2;
  padding-left: 30px;
  padding-right: 30px;
  border-style: solid;
  border-width: 0;

  @include media-query($on-laptop) {
      display: none;
  }

  .verdict-download {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.home-tab-item {
  padding-bottom: 20px;
}

.index-image {
  width: 300px;
  height: 170px;
  margin-bottom: 10px;
}

.site-nav-bar {
    background-color: $nav-bar-background-color;
    min-height: 50px;
    padding-right: 50px;
    font-size: 18px;
    //font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 10pt;

    .site-nav {
        float: right;
        line-height: 56px;

        .menu-icon {
            display: none;
        }

        .page-link {
            //color: $text-color;
            color: $nav-text-color;
            line-height: $base-line-height;

            // Gaps between nav items, but not on the last one
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        @include media-query($on-palm) {
            position: absolute;
            top: 9px;
            right: $spacing-unit / 2;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                display: block;
                float: right;
                width: 36px;
                height: 26px;
                line-height: 0;
                padding-top: 10px;
                text-align: center;

                > svg {
                    width: 18px;
                    height: 15px;

                    path {
                        fill: $grey-color-dark;
                    }
                }
            }

            .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;

                &:not(:last-child) {
                    margin-right: 0;
                }
                margin-left: 20px;
            }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    background-color: #655750;
    padding-top: 30px;
    padding-bottom: 10px;

    ul li {
        color: white;
        font-size: 14px;
        display: inline;
    }

    li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        font-size: 14px;
    }

    a:hover {
        background-color: #243D2B;
        text-decoration: none;
    }
}

.footer-container {
  border-style: solid;
  border-color: $nav-bar-background-color;
  border-width: 4px 0 0 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Tables
 */

table {
  margin-bottom: 20px;

  thead {
    border-style: solid;
    border-width: 1px 0 2px 0;
  }

  tbody {
    tr {
      border-top-style: solid;
      border-top-width: 1px;
    }
  }

  th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
      font-size: 32px;
    }

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 21px;
        font-weight: 700;

        @include media-query($on-laptop) {
            font-size: 21px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.supported-query {
  pre {
    code {
      font-size: 15px;
      color: black;
    }
  }
}
